<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miami Mkt Bodega Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" as="image" href="{{ url_for('static', filename='images/background_image.webp') }}" type="image/webp">
    <link rel="preload" as="image" href="{{ url_for('static', filename='images/background_image.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

</head>
<body id = "index_body">


    {% include 'navbar.html' %}

    <div class="headerBody">
        <a class="homePageLogo" href="/">
            <img class="homepage_slogo" src="{{ url_for('static', filename='images/homepage_slogo.webp') }}"
            alt="MIAMI MKT Bodega & Café" />
        </a>
        <div class="categoryRow">
            <span class="categoryItem">Groceries</span>
            <span class="categoryItem">Wines</span>
            <span class="categoryItem">Beers</span>
            <span class="categoryItem">Worldwide Snacks</span>
            <span class="categoryItem">Fresh Bites</span>
            <span class="categoryItem">And</span>
            <span class="categoryItem">More!</span>
        </div>
        <div class="innerHeadings">
        </div>
    </div>

    


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>


</body>
</html>