<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miami Mkt Bodega Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" as="image" href="{{ url_for('static', filename='images/background_image.webp') }}" type="image/webp">
    <link rel="preload" as="image" href="{{ url_for('static', filename='images/background_image.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>


    {% include 'navbar.html' %}

    <div class="headerBody">
        <div class="innerHeadings">
                <span > Miami Mkt Bodega <br>
            Bodega <br> Cofee <br> Wine & Beer <br> And More...
        
        </span>

    </div>
        

    </div>

    


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>


</body>
</html>